$div-background-color:				black;
$div-text-color:					white;
$margin:							15px 0;
$header-base-size:					100px;
$one:								1;
$red:								red;
$section:							'section';

$base-button-size:					60px;

/*
$input-sizes:
	(1	10px)
	(2	20px)
	(3	30px)
	(4	40px)
	(5	50px)
	(6	60px)
	(7	70px)
	(8	80px)
	(9	90px)
	(10	100px);
*/

$input-sizes:
	(1:		10px,
	2:		20px,
	3:		30px,
	4:		40px,
	5:		50px,
	6:		60px,
	7:		70px,
	8:		80px,
	9:		90px,
	10:		100px);
